/__pycache__
/config/__pycache__
/model/__pycache__
/dao/__pycache__
/services/__pycache__
/tools/__pycache__
/utils/__pycache__
/controller/__pycache__
/model-testing.py
/testing.py
/service-testing.py
/web
/design
/test
/temp
/node_modules
#/clients
/.sencha
/flask-learning
/data/pss_client.cer
/data/pss_pri.pem
/data/private.pem
/data/private.crt
/data/crt.pem
/.vscode
/static
/templates
/config/appconfig.py